:root {
    --sidebar-width: 300px;
    --preview-height: 50%;
    --preview-width: 50%; /* Added for 3-col layout */
    --gap: 16px;
    --highlight-bg: #fffbdd;
    --highlight-border: #ffe082;
}

body.vs-dark {
    --highlight-bg: #4e4a25;
    --highlight-border: #8a8230;
}
